<div id="logoHeader" class="col-sm-12">
    <img class="img-responsive" src="../../images/destinyIDLogo.png">
</div>
<div id="nav" class="col-sm-12">
    <div class="col-sm-6">
        <div id="rarity" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Rareity
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="rarity" data-rarity="exotic"><a href="javascript:void(0)">Exotic</a></li>
                <li class="rarity" data-rarity="superior"><a href="javascript:void(0)">Superior</a></li>
                <li class="rarity" data-rarity="rare"><a href="javascript:void(0)">Rare</a></li>
                <li class="rarity" data-rarity="common"><a href="javascript:void(0)">Common</a></li>
                <li class="rarity" data-rarity="basic"><a href="javascript:void(0)">Basic</a></li>
                <li class="rarity" data-rarity="currency"><a href="javascript:void(0)">Currency</a></li>
            </ul>
        </div>
        <div id="category" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Item Type
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="category" data-category="weapon"><a href="javascript:void(0)">Weapon</a></li>
                <li class="category" data-category="armor"><a href="javascript:void(0)">Armor</a></li>
                <li class="category" data-category="ship"><a href="javascript:void(0)">Ship</a></li>
            </ul>
        </div>
        <div id="searchPlayer" class="dropdown">
            <input type="text" class="form-control" placeholder="GammerTag or PSN" id="player">
        </div>
        <div id="playerType" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Account Type
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="playerType" data-playertype="1"><a href="javascript:void(0)">Xbox</a></li>
                <li class="playerType" data-playertype="0"><a href="javascript:void(0)">PSN</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <span class="fa-stack fa-lg next">
            <i class="fa fa-stop fa-stack-2x"></i>
            <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-lg prev">
            <i class="fa fa-stop fa-stack-2x"></i>
            <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
        </span>
    </div>
</div>
