body {
    margin: 0;

    div.raidContainer {
        width: 530px;
        height: 35px;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 11px;
        display: inline-block;
        background-color: #121C1E;
        color: #f3f3f3;
        background-image: url("../images/raidIcon.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40px 40px;

        div.raidType {
            float: left;
            margin-left: 45px;
            margin-top: 4px;
            font-weight: bold;
        }
        div.raidCharacter {
            float: left;
            margin-left: 10px;
            font-weight: bold;
        }
        .marquee {
            margin-left: 45px;
            margin-right: 10px;
            width: 204px;
            overflow: hidden;
        }
        div.stats {
            margin-left: 45px;
            margin-top: 4px;
        }
    }
}