body {
    margin: 0;
    div.weaponsContainer {
        width: 534px;
        height: 30px;
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 12px;
        display: inline-block;
        background-color: #121C1E;
        color: #f3f3f3;

        div.weaponContainer:first-child { margin-left: 0px; }

        div.weaponContainer {
            float: left;
            margin-left: 10px;
        
            div.weaponImg {
                float: left;
                margin-right: 10px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}