<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div id="logoHeader" class="col-sm-12">
        <img class="img-responsive" src="../../images/destinyIDLogo.png">
    </div>
    <div id="pagination" class="col-sm-12">
      <div class="dropdown col-sm-6">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Rareity
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/?rarity=Exotic">Exotic</a></li>
          <li><a href="/?rarity=Superior">Superior</a></li>
          <li><a href="/?rarity=Rare">Rare</a></li>
          <li><a href="/?rarity=Common">Common</a></li>
          <li><a href="/?rarity=Basic">Basic</a></li>
          <li><a href="/?rarity=Currency">Currency</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <span class="fa-stack fa-lg next">
          <i class="fa fa-stop fa-stack-2x"></i>
          <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-lg prev">
          <i class="fa fa-stop fa-stack-2x"></i>
          <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
  <div id="itemsList">
  <% for(var i in itemsJSON.Response.data.itemHashes) { %>
    <div id="<%- itemsJSON.Response.data.itemHashes[i] %>" class="itemBlock col-sm-3"></div>
  <% } %>
  </div>
  <div id="footer">
    <a href="https://github.com/baaronp7/DestinyItemDiscoverer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
</body>

<script>
$(document).ready(function() {
  var page = GetURLParameter('page');
  var rarity = GetURLParameter('rarity');
  if(page === undefined)
    page = 0;
  if(rarity === undefined)
      rarity = 'Common';
  $('div#pagination span.prev').click(function() {
    if(page > 0) {
      var prevPage = parseInt(page) - 1;
      var url = '//' + window.location.host + '/?rarity=' + rarity + '&page=' + prevPage;
      window.location = url;
    }
  });
  $('div#pagination span.next').click(function() {
    var nextPage = parseInt(page) + 1;
    var url = '//' + window.location.host + '/?rarity=' + rarity + '&page=' + nextPage;
    window.location = url;
  });
  $('div.itemBlock').each( function( index, itemBlock ) {
    $.ajax({
      url: "/getItem?iId="+$(itemBlock).attr('id'),
      dataType: "json"
    }).success(function(data){
      $(itemBlock).html(
        '<img class="img-responsive" src="http://www.bungie.net/'+data.Response.data.inventoryItem.icon+'"/>'+
        '<div class="itemName">'+data.Response.data.inventoryItem.itemName+'</div>'
      );
    });
  });
});

function GetURLParameter(sParam) {
  var sPageURL = window.location.search.substring(1);
  var sURLVariables = sPageURL.split('&');
  for (var i = 0; i < sURLVariables.length; i++) {
    var sParameterName = sURLVariables[i].split('=');
    if (sParameterName[0] == sParam) {
        return sParameterName[1];
    }
  }
}
</script>
