<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>

    <div id="itemsList">
        <% for(var i in itemsJSON.Response.data.itemHashes) { %>
            <div id="<%- itemsJSON.Response.data.itemHashes[i] %>" class="itemBlock col-xs-4 col-sm-3 col-md-2"></div>
        <% } %>
    </div>

    <script>
        var pageSize = parseInt(<%= numPages %>);
        
    </script>
    <% include ../partials/footer %>
</body>
</html>
